<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iSearchPlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EFCC17E1CD1E62500CDFAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EFCC1971CD1E62600CDFAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EFCC1A21CD1E62600CDFAE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
